<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>创建客户</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <h1>创建新客户</h1>
    <form th:action="@{/user/new/client}" th:object="${client}" method="post">
        <label>用户名:</label>
        <input type="text" th:field="*{username}" required /><br/>

        <label>密码:</label>
        <input type="password" th:field="*{password}" required /><br/>

        <label>客户昵称（客户实际名称）:</label>
        <input type="text" th:field="*{nickName}" /><br/>

        <label>邮箱:</label>
        <input type="email" th:field="*{email}" /><br/>

        <label>电话号码:</label>
        <input type="text" th:field="*{phoneNumber}" /><br/>

        <label>客户描述:</label>
        <input type="text" th:field="*{description}" /><br/>

        <label>客户地址:</label>
        <input type="text" th:field="*{address}" /><br/>

        <button type="submit">创建客户</button>
    </form>
</div>
</body>
</html>
